<!DOCTYPE html>
<html lang="ru" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
    <script src="app.js"></script>

</head>
<body ng-app="myApp">
    <h4>Определение метода в контроллере</h4>
    <div ng-controller="myCtrl">
        <input type="text" ng-model="intValue1">
        +
        <input type="text" ng-model="intValue2">
        <button ng-click="result=myFuncIncrement(intValue1, intValue2)"> = </button>
        <input type="number" ng-model="result" disabled>
    </div>

</body>
</html>